

<div class="card card-style">
    <article class = "card-body">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mb-2">
                    <h3> Carbohydrates intake </h3>
                </div>
             
                <app-insert-carb></app-insert-carb>
            </div>
    
            <div class="col">
                <div class="mb-2">
                <h3>  Blood Glucose level </h3>
                </div>
                <app-insert-glucose></app-insert-glucose>
            </div>
        </div>
    </div>
    </article>  

</div>



