
    <div class="container" style=" width:50%">
     
        <div class="row">
            <div class="col">

                <div class="card custom_style">
                    <div class="c-body">
                        <div class="mb-4"  style="text-align:center;">
                            <h3> My patients record</h3>
                        </div>
    
                <div class="table-wrapper-scroll-y my-custom-scrollbar">

                    <table class="table table-bordered table-striped" style="table-layout:fixed;">

                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Action</th>

                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngFor="let p of patients">
                                <td scope="row">{{p.name}}</td>
                                <td>{{p.email}}</td>

                                <td> <button class="btn btn-outline-success mr-2" (click)="selectPatient(p.id)"> <i
                                            class="fa fa-eye"></i>
                                    </button></td>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>




    <div *ngIf="selectedOne">
        <div class="container" style="width:100%">

            <div class="row" style="width:100%;">
                <div class="col">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Carb intake</th>
                                    <th>Date</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let carb of carbs">
                                    <td scope="row">{{carb.carb}}</td>
                                    <td>{{carb.date | date}}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

                <div class="col">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped ">
                            <thead>
                                <tr>
                                    <th>Glucose (mg/dL)</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let glucose of glucoses">
                                    <td scope="row">{{glucose.glucose}}</td>
                                    <td>{{glucose.date | date}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



                <div class="col-6">

                    <div class="table-wrapper-scroll-y my-custom-scrollbar">

                        <table class="table table-bordered table-striped" style="table-layout:fixed;">

                            <thead>
                                <tr>
                                    <th>Medication Name</th>
                                    <th>Dosage</th>
                                    <th>Comment</th>
                                    <th>Action</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr *ngFor="let c of consultations">
                                    <td scope="row">{{c.medicationName}}</td>
                                    <td>{{c.dosage}}</td>
                                    <td>{{c.comment}}</td>

                                    <td> <button class="btn btn-outline-success mr-2" (click)="selectConsultation(c)">
                                            <i class="fa fa-pencil"></i>
                                        </button></td>

                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

            <!-- <div class="container"> -->
            <div class="row">
                <!-- <div class="col"> -->
                    <div class="col">        

                <div *ngIf="selectedConsultation">
                    <div class="card custom_style_2">         
                        <div class="c-body">
                    <form [formGroup]="form" (ngSubmit)="onClickSubmitEditCard()">

                        <div class="form-group">
                            <label for="medicationNameInput">Medication Name: </label>
                            <input type="text" class="form-control" id="medicationNameInput"
                                formControlName="medicationName">
                        </div>
                        <div class="form-group">
                            <label for="dosageInput">Dosage(mg): </label>
                            <input type="text" class="form-control" id="dosageInput" formControlName="dosage">
                        </div>
                        <div class="form-group">
                            <label for="commentInput">Comment: </label>
                            <input type="text" class="form-control" id="commentInput" formControlName="comment">
                        </div>
                        <button class="btn btn-primary mb-5">Submit</button>
                    </form>
                </div>
            </div>
                </div>
            </div>
            </div>
        </div>
    </div>
