.custom_style{
    margin-top:50px;
    margin-bottom: 50px;

    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    background-color: rgba(209, 207, 207, 0.548);
    width: 80%;
    margin-left:10%;
    overflow: auto;
   }


   
.custom_style_3{
    // border:none;
    margin-top:50px;
    // align-items: center;
    // text-align: center;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    background-color: rgba(209, 207, 207, 0.548);
    width: 45%;
    // margin-left:40%;

    overflow: auto;
}

.c-body{
    padding: 20px 20px 20px;
}

.custom_style_2{
    margin-top:50px;
    margin-bottom: 50px;

    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
   //  background-color: rgba(221, 245, 255, 0.548);
    width: 90%;
    // margin-left:20px;
    overflow: auto;
   }

.header-style{
    margin-left: 5%;
    margin-bottom: 30px;
}