
<!-- <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
 -->

<section class="page-section py-3 mb-5" id="About" >
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2 class="contact-title" style="color:#004fe2;">Welcome to Sacchon! </h2>              
            </div>
        </div>
        <div class="row">
          <div class="col-12 text-center pt-3">
            <h2 style="font-weight: bold;">
             Accessible healthcare ! 
            </h2>
          </div>
          <div class="col-12 text-center pt-3">
            If you're living with diabetes, prioritizing your health has never been more important.
          </div>
          <div class="col-12 text-center pt-3">
            Medical Services: Data Monitoring, Doctor Consulting
          </div>
        </div>
    </div>
  </section>


  <img src="../../../assets/image.png" class="this-style">
