
.custom_style{
    // border:none;
    margin-top:50px;
    align-items: center;
    text-align: center;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    background-color: rgba(209, 207, 207, 0.548);

    overflow: hidden;
}



.marginDef{
    margin-bottom: 100px;
    margin-top:50px;
    // margin-left: 80px;
}

.custom-container{
    // background-color: rgba(214, 255, 255, 0.548);
    margin-top: 10px;
    margin-bottom: 20px


}