<div class="container fluid" class="marginDef">


  <div class="card fluid custom_style">
    <h4 class="mt-5 mb-5 text-center"> Average Blood Glucose Level and Carb intake. </h4>
    <h5 class="mb-5 text-center">Select a specific period:</h5>

    <!-- <article class = "card-body" style = "margin:auto;width:80%"> -->
    <form [formGroup]="form" (submit)="formSumbit()">

      <div class="form-group">
        <div class="row">
          <div class="col-sm"></div>
          <label for="example-date-input" class="col-form-label">From:</label>
          <div class="col-sm">
            <input class="form-control" type="datetime-local" value="2021-01-19" id="start " formControlName="start">
          </div>

          <label for="example-date-input" class="col-form-label">Until:</label>
          <div class="col-sm">
            <input class="form-control" type="datetime-local" value="2021-01-19" id="end" formControlName="end">
          </div>
          <div class="col-sm"></div>
        </div>
      </div>
      <div class="row" style="margin-left:45%;width:20%; margin-bottom:5px;">
        <button tynpe="submit" class="btn btn-primary" data-toggle="modal"
          data-target="#exampleModalCenter">Search</button>
      </div>

    </form>
    <!-- </article> -->

    <div *ngIf="isShow">
      <div class="container custom-container">
        <div class="row">
          <div class="col">

            <table class="table table-bordered  table-primary">

              <thead>
                <tr>
                  <th>Average</th>
                  <th>Values</th>
                  <!-- <th>Time</th>
                  <th>Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td> <strong>Carb Intake (gram)</strong></td>
                  <td> {{averageCarb}}</td>

                </tr>
                <tr>
                  <td> <strong>Blood Glucose Level (mg/dL)</strong></td>
                  <td> {{averageGlucose}}</td>

                </tr>


              </tbody>
            </table>
          </div>


        </div>

      </div>


    </div>
  </div>
</div>