.header-style{
        font-size: 25px;    
        font-weight: normal;
        margin-bottom: 23px;
        text-align: center;
    }

.card-style{

    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;
    margin-top: 100px;
    margin-left: 25%;

}

.c-body{
    padding: 80px 80px 80px;

}


.form-control {
    border: 1px solid #ddd;
    padding: 15px 25px;
    align-items: center;
    margin-bottom: 20px;
 

    font-size: 16px;
    line-height: 15;
    font-weight: normal;
}


// .login-card {
//     border: 0;
//     border-radius: 27.5px;
//     box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
//     overflow: hidden;


//     .card-body {
//         padding: 85px 60px 60px;

//         @media (max-width: 422px) {
//             padding: 35px 24px;
//         }
//     }

//     &-description {
//         font-size: 25px;
//         color: #000;
//         font-weight: normal;
//         margin-bottom: 23px;
//     }

//     .form-style {
//         max-width: 200px;
//     }


//     }

   
