
.custom_style{
    // border:none;
    margin-top:50px;
    // align-items: center;
    // text-align: center;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    background-color: rgba(209, 207, 207, 0.548);
    width: 40%;
    margin-left:30%;

    overflow: hidden;
}

.remove-button{
    border-radius: 18px;
    margin-left: 30%;
}