

.my-custom-scrollbar {
    // position: relative;
    height: 400px;
    overflow: auto;
    text-align: center;
    margin-bottom: 50px;
    
    
    box-shadow: 0 10px 30px 0 rgba(235, 235, 235, 0.43);

    }
    .table-wrapper-scroll-y {
    display: inline-block;
    margin-bottom: 50px;
    // border: solid rgb(56, 56, 56) 1px;
}

.mystyle{
    // padding:10px;
    margin-left: 5%; 
    margin-right: 5%;
    margin-bottom: 100px;

}

.caption {
    text-align: left;
    position: absolute;
}

.ctm-btn{
    width: 10px;
}

th{
    // border: solid rgb(56, 56, 56) 1px;
    position: -webkit-sticky;
    position: sticky;
    background-color:rgb(255, 255, 255);
    top:0;
    z-index: 2;
  }
